<div class="summary__container">
  <div class="summary__title">
    <img src="assets/booking/summary-icon.svg" alt="" />
    <p>Summary</p>
  </div>

  <div class="summary__content">
    <app-order
      [passengers]="passengersInfo"
      [flight]="flight.oneWay"
    ></app-order>
    <ng-container *ngIf="flight.returnWay">
      <app-order
        [passengers]="passengersInfo"
        [flight]="flight.returnWay"
      ></app-order>
    </ng-container>
    <app-fare
      [passengersType]="passengersFareByTypeInCur"
      [currency]="currency"
      [total]="totalCostInCur"
    ></app-fare>
  </div>

  <div class="summary__buttons">
    <button
      mat-button
      color="primary"
      class="button button-back"
      (click)="redirectBookingPage()"
      [disabled]="btnDisabled"
    >
      Back
    </button>
    <button
      mat-stroked-button
      color="primary"
      class="button button-add"
      (click)="handleAddToCart()"
      [disabled]="btnDisabled"
    >
      Add to order cart
    </button>
    <button
      mat-flat-button
      color="primary"
      class="button button-buy"
      (click)="openPaymentModal()"
      [disabled]="btnDisabled"
    >
      Buy now
    </button>
  </div>
</div>
