<div class="summary__container">
  <div class="summary__title">
    <img src="assets/booking/summary-icon.svg" alt="" />
    <p>Summary</p>
  </div>

  <div class="summary__content">
    <app-order
      [passengers]="passengersInfo"
      [flight]="flight.oneWay"
      [dateFormatStr]="dateFormatStr"
    ></app-order>
    <ng-container *ngIf="flight.returnWay">
      <app-order
        [passengers]="passengersInfo"
        [flight]="flight.returnWay"
        [dateFormatStr]="dateFormatStr"
      ></app-order>
    </ng-container>
    <app-fare
      [passengersType]="passengersFareByTypeInCur"
      [currency]="currency"
      [total]="totalCostInCur"
    ></app-fare>
  </div>

  <div class="summary__buttons">
    <button
      *ngIf="!isPaid && !isEdit"
      mat-button
      color="primary"
      class="button button-back"
      (click)="redirectBookingPage()"
      [disabled]="btnDisabled"
    >
      Back
    </button>
    <button
      *ngIf="!isPaid && !isEdit"
      mat-stroked-button
      color="primary"
      class="button button-add"
      (click)="handleAddToCart()"
      [disabled]="btnDisabled"
    >
      Add to cart
    </button>
    <button
      *ngIf="!isPaid && !isEdit"
      mat-flat-button
      color="primary"
      class="button button-buy"
      (click)="handlePayment()"
      [disabled]="btnDisabled"
    >
      Buy now
    </button>
    <!-- Btn if Details from User Acoount booked trip -->
    <button
      *ngIf="isPaid"
      mat-stroked-button
      color="primary"
      class="button button-add"
      (click)="redirectToUserAccount()"
      [disabled]="btnDisabled"
    >
      Return to Account
    </button>
    <!-- Btns if Edit trip from Cart -->
    <button
      *ngIf="isEdit"
      mat-button
      color="primary"
      class="button button-cancel"
      (click)="handleCancelEdit()"
      [disabled]="btnDisabled"
    >
      Cancel
    </button>
    <button
      *ngIf="isEdit"
      mat-flat-button
      color="primary"
      class="button button-buy"
      (click)="handleSaveOnEdit()"
      [disabled]="btnDisabled"
    >
      Save
    </button>
  </div>
</div>
