@use "src/styles.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
  }
}

.summary__container {
  box-sizing: border-box;
  max-width: 1150px;
  width: 100%;
  padding: 40px 0 48px 22px;
  display: flex;
  flex-direction: column;
  margin-top: 156px;

  @media (max-width: $mobile-xl) {
    padding: 20px 10px;
  }

  @media (max-width: $desktop-ms) {
    margin-top: 184px;
  }

  @media (max-width: $desktop-xs) {
    margin-top: 240px;
  }
}

.summary__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  @extend %title-large;
  font-weight: 700;
  color: $primary;
  width: 140px;
  padding: 8px 0;

  @media (max-width: $desktop-s) {
    margin: 0 auto;
  }
}

.summary__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 30px 24px;
  margin-top: 20px;

  @media (max-width: 1167px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  @media (max-width: $mobile-ll) {
    width: 100%;
    margin: 10px auto 0;
  }
}

.summary__buttons {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: flex-end;

  @media (max-width: $desktop-s) {
    justify-content: center;
  }

  @media (max-width: $mobile-l) {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }

  .button {
    height: 60px;
    @extend %button;
  }

  .button-back {
    padding: 20px 45px;
  }

  .button-add {
    border: 1px solid $primary;
    padding: 20px 24px;
  }

  .button-buy {
    padding: 20px 32px;
  }
}

::ng-deep .snackBar {
  background: $highlight-green0;
  color: $neutral100;
  @extend %subtitle-small;
  border-radius: 4px;
  text-align: center;
}

::ng-deep .mat-mdc-snack-bar-container {
  &.snackBar {
    --mdc-snackbar-container-color: $highlight-green0;
    --mdc-snackbar-supporting-text-color: $neutral100;
  }
}

::ng-deep .snackBarRedirect {
  @extend %subtitle-small;
  border-radius: 4px;
  text-align: center;
}
