@use "src/styles.scss" as *;

:host {
  height: 68px;
  box-shadow: $shadow;
  background: $secondary100;
  width: 100%;
  position: fixed;
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1050px) {
    margin-top: 116px;
  }

  @media (max-width: 936px) {
    margin-top: 172px;
  }

  p {
    margin: 0;
  }
}

.menu__container {
  box-sizing: border-box;
  width: 1150px;
  padding-left: 22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px 40px;

  @media (max-width: 1050px) {
    justify-content: center;
    padding: 0 10px;
  }
}

.flight-title__container {
  display: flex;
  gap: 16px;

  .flight-title {
    @extend %title-xsmall;
    font-weight: 500;
    color: $black;
  }
}

.flight-date__container {
  display: flex;
  gap: 8px;
  @extend %label-medium;
  font-weight: 500;
  color: $neutral30;

  .dot-separator {
    color: $secondary0;
    font-size: 18px;
  }

  .person-count__container {
    display: flex;
    gap: 5px;
  }

  .person-icon {
    padding-bottom: 2px;
  }
}
