<div class="menu__container">
  <div class="flight-title__container">
    <p class="flight-title">Dublin</p>
    <img src="assets/booking/return-trip.svg" />
    <p class="flight-title">Warsaw Modlin</p>
  </div>

  <div class="flight-date__container">
    <p>Return</p>
    <p class="dot-separator">•</p>
    <p>1 Mar - 18 Mar</p>
    <p class="dot-separator">•</p>
    <div class="person-count__container">
      <p>3</p>
      <img src="assets/booking/person-icon.svg" class="person-icon" />
    </div>
  </div>
</div>
