@use 'src/styles.scss' as *;

.login__layout {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 16px;
}

.login__input {
  width: 100%;
  ::ng-deep .mdc-line-ripple::before,
  ::ng-deep .mdc-line-ripple::after {
    content: none !important; // disable default border to inputs
  }

  ::ng-deep .mdc-text-field {
    border-radius: 4px !important;
    border: 0.5px solid $neutral60;
    background: $secondary90;
  }

  ::ng-deep .mat-icon {
    color: $neutral10;
  }
}

.login__input--error {
  ::ng-deep .mdc-text-field {
    border: 0.5px solid $error;
  }

  ::ng-deep .mat-icon {
    color: $error;
  }
}

.hideTipWrapper {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.login__link {
  @extend %label-medium;

  color: $primary;
  cursor: pointer;
  text-decoration: none;
}

.login__submit-btn {
  @extend %button;

  width: 100%;
  height: 44px;
  background: $primary;
  border-radius: 4px;
  color: $neutral100;
  cursor: pointer;
}
