<div class="login__layout">
  <form class="login__form" [formGroup]="authForm" (submit)="onSubmit()">
    <mat-form-field
      class="login__input"
      [ngClass]="{
        'login__input--error': !login?.valid && login?.touched,
        hideTipWrapper: login?.valid || !login?.touched
      }"
    >
      <mat-label>Email</mat-label>
      <input matInput formControlName="login" />
      <mat-error *ngIf="login?.invalid">{{ getErrorMessageLogin() }}</mat-error>
    </mat-form-field>
    <mat-form-field
      class="login__input"
      [ngClass]="{
        'login__input--error': !password?.valid && password?.touched,
        hideTipWrapper: password?.valid || !password?.touched
      }"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <mat-error *ngIf="password?.invalid">{{
        getErrorMessagePassword()
      }}</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
        type="button"
      >
        <mat-icon
          [color]="!password?.valid && password?.touched ? 'warn' : ''"
          >{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon
        >
      </button>
    </mat-form-field>
    <!-- TODO where to go  -->

    <mat-error *ngIf="auth.isErrorLoginMessage$ | async">{{
      auth.isErrorLoginMessage$ | async
    }}</mat-error>

    <mat-spinner *ngIf="auth.isLoading$ | async" [diameter]="20"></mat-spinner>
    <button class="login__submit-btn">Log in</button>
  </form>
  <button></button>
</div>
