:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.background {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 169px;
  background-image: url(".././../../../assets/background-main.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
