@use "src/styles.scss" as *;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 532px;
  height: 40px;

  @media (max-width: 1150px) {
    width: 440px;
    margin-left: 16px;
  }

  @media (max-width: 649px) {
    margin-left: 0;
  }

  @media (max-width: 420px) {
    display: none;
  }

  p {
    margin: 0;
    @extend %label-medium;
    color: $neutral30;
  }
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .badge {
    width: 16px;
    height: 16px;
    background-color: $secondary0;
    border-radius: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 2px;
    box-sizing: border-box;
  }

  .line {
    border-bottom: 1px solid $neutral40;
    width: 80px;
    height: 0px;

    @media (max-width: 1150px) {
      width: 40px;
    }
  }
}

.gray {
  .badge {
    display: flex;
    background-color: $neutral30;
    justify-content: center;
    align-items: center;
    color: $neutral100;
    @extend %badge-label;
  }

  .textTwo::before {
    content: "2";
    display: inline-block;
  }

  .textThree::before {
    content: "3";
    display: inline-block;
  }
}
