.header {
  height: 88px;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(116, 118, 122, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 1128px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.user {
  display: flex;
  gap: 32px;

  .user__sign-in {
    background: rgba(241, 243, 246, 0.15);
    border: 0.5px solid #cecece;
    border-radius: 4px;
    width: 114px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 13px;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1px;
    cursor: pointer;
  }

  .user__cart {
    cursor: pointer;
  }
}
