@use "src/styles.scss" as *;

.header {
  height: 88px;
  width: 100%;
  position: fixed;
  top: 0;
  background: $neutral70;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.header__container {
  width: 1128px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-link {
    height: 40px;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 41px;

  .menu__text {
    color: $neutral100;
    @extend %body-large;
    margin: 0;
    user-select: none;
  }

  .user {
    display: flex;
    gap: 32px;
    align-items: center;
    padding-right: 22px;

    .user__sign-in {
      background: $neutral90;
      border: 0.5px solid $neutral60;
      width: 114px;
      height: 40px;
      gap: 3px;
      color: $neutral100;
      @extend %button;
    }

    .user__cart {
      cursor: pointer;
    }

    .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
      background-color: $error;
    }
  }
}

.light {
  background: $neutral100;

  .menu {
    .user__sign-in {
      color: $neutral10;
    }

    .user__cart {
      filter: invert(70%);
    }
  }
}

.smallGap {
  gap: 16px;
}
