@use 'src/styles.scss' as *;

:host {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}

.header {
  min-height: 88px;
  background: $neutral70;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header__container {
  width: 1150px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  box-sizing: border-box;
  flex-wrap: wrap;
  row-gap: 16px;

  @media (max-width: 1074px) {
    padding: 10px;
  }

  @media (max-width: 557px) {
    justify-content: center;
  }

  .logo-link {
    height: 40px;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 41px;

  @media (max-width: $desktop-s) {
    justify-content: center;
    flex-wrap: wrap-reverse;
    row-gap: 16px;
  }

  @media (max-width: $mobile-xl) {
    column-gap: 20px;
  }

  .menu__text {
    color: $neutral100;
    @extend %body-large;
    margin: 0;
    user-select: none;

    @media (max-width: 690px) {
      display: none;
    }
  }

  .user {
    display: flex;
    gap: 32px;
    align-items: center;

    @media (max-width: $mobile-xl) {
      gap: 20px;
    }

    .user__sign-in {
      background: $neutral90;
      border: 0.5px solid $neutral60;
      gap: 3px;
      padding: 10px 16px;
      height: 100%;
      color: $neutral100;
      @extend %button;
      }

      .user__acc {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $neutral90;
        color: $neutral100;

        .icon {
          margin: 0;
        }
      }

    .user__cart {
      cursor: pointer;
    }

    .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
      background-color: $error;
    }
  }
}

.light {
  background: $neutral100;

  .menu {
    .menu__text,
    .user__sign-in,
    .user__acc,
    .user__logout-button {
      color: $neutral10;
    }

    .user__acc {
      background: $neutral80;
    }

    .user__cart {
      filter: invert(70%);
    }
  }
}

.smallGap {
  gap: 16px;

  .user {
    gap: 16px;
  }
}

.media {
  @media (max-width: 1058px) {
    justify-content: center;
  }
}

.user-menu__text-container {
  display: flex;
  padding: 16px;
  gap: 16px;
}
