<header class="header" [ngClass]="{ light: !isMainPage }">
  <div class="header__container">
    <a routerLink="/booking/main" class="logo-link"
      ><img src="assets/header/logo.svg" alt="airways logo"
    /></a>
    <div class="menu" [ngClass]="{ smallGap: !isMainPage && !isUserPage }">
      <p class="menu__text" *ngIf="isMainPage">Book flights</p>

      <app-stepper
        *ngIf="!isMainPage && !isUserPage "
        [currentStep]="currentStep"
      ></app-stepper>
      <app-date-selector [isMainPage]="isMainPage"></app-date-selector>
      <app-currency-selector [isMainPage]="isMainPage"></app-currency-selector>

      <div class="user">
        <button
          mat-flat-button
          class="user__sign-in"
          [ngClass]="{ colorDark: !isMainPage }"
          (click)="openAuthModal()"
        >
          <mat-icon>perm_identity</mat-icon>
          Sign in
        </button>
        <div
          matBadge="3"
          matBadgeSize="small"
          [matBadgeHidden]="badgeHidden"
          (click)="toggleBadgeVisibility()"
        >
          <img
            src="assets/header/cart.svg"
            alt="shopping cart"
            class="user__cart"
          />
        </div>
      </div>
    </div>
  </div>
</header>
