<header class="header">
  <div class="header__container">
    <a href="/home"><img src="assets/logo.svg" alt="airways logo" /></a>
    <div class="menu">
      <p class="menu__text">Book flights</p>
      <app-date-selector></app-date-selector>
      <app-currency-selector></app-currency-selector>
      <div class="user">
        <button mat-flat-button class="user__sign-in">
          <mat-icon>perm_identity</mat-icon>
          Sign in
        </button>
        <div
          matBadge="3"
          matBadgeSize="small"
          [matBadgeHidden]="badgeHidden"
          (click)="toggleBadgeVisibility()"
        >
          <img src="assets/cart.svg" alt="shopping cart" class="user__cart" />
        </div>
      </div>
    </div>
  </div>
</header>
