<div class="booking__wrapper">
  <div class="passengers__layout">
    <div class="passengers__title-box">
      <div class="passengers__title">
        <div class="passengers__title-icon">
          <mat-icon>person</mat-icon>
        </div>
        <div class="passengers__title-text">Passengers</div>
      </div>
      <div class="passengers__description">
        Enter the passenger's names as they appear on document (passport or ID).
      </div>
    </div>
    <div
      class="passengers__passengers-info-box"
      *ngIf="passengersInfoForRender.length === initPassengersLength"
    >
      <app-passenger-info
        *ngFor="let passenger of passengersInfoForRender; index as i"
        [passengerType]="passenger.passengerType"
        [passengerIdx]="i + 1"
        [submitEmitter]="submitEmitter"
        (validPassengerInfoFormEmitter)="getPassengersValidInfo($event)"
        (passengerInfoFormEmitter)="getPassengersFormInfo($event)"
        [id]="passenger.id"
      ></app-passenger-info>
    </div>
    <div
      class="passengers__passengers-info-box"
      *ngIf="passengersInfoForRender.length !== initPassengersLength"
    >
      <app-passenger-info
        *ngFor="let passenger of passengersByType; index as i"
        [passengerType]="passenger"
        [passengerIdx]="i + 1"
        [submitEmitter]="submitEmitter"
        (validPassengerInfoFormEmitter)="getPassengersValidInfo($event)"
        (passengerInfoFormEmitter)="getPassengersFormInfo($event)"
      ></app-passenger-info>
    </div>
  </div>
  <div class="contacts__layout">
    <div class="contacts__title-box">
      <div class="contacts__title">
        <div class="contacts__title-icon">
          <mat-icon>contacts</mat-icon>
        </div>
        <div class="contacts__title-text">Contact details</div>
      </div>
      <div class="contacts__description">
        We need contact details to be able to deliver the latest information
        regarding your flight.
      </div>
    </div>
    <app-contact-details
      [submitEmitter]="submitEmitter"
      (validContactDetailsFormEmitter)="getContactDetailsValid($event)"
      (contactDetailsFormEmitter)="getContactDetails($event)"
    ></app-contact-details>
  </div>
  <div class="buttons__layout">
    <button
      mat-stroked-button
      color="primary"
      class="button"
      *ngIf="!tripIdInCart"
    >
      Back
    </button>
    <button
      mat-flat-button
      color="primary"
      class="button"
      (click)="handleContinue()"
    >
      Continue
    </button>
  </div>
</div>
