@use "src/styles.scss" as *;

.promo {
  width: 100%;

  ::ng-deep .mat-mdc-form-field-infix {
    display: flex;
    width: 100%;
    padding: 0;
    align-items: flex-start;
    height: 48px;
  }

  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 48px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;

    @media (max-width: $mobile-xl) {
      padding: 0 0 0 8px;
    }
  }

  .apply__btn {
    height: 48px;
    color: $primary;
    @extend %button;

    @media (max-width: $mobile-xl) {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.25px;
    }
  }

  .promo__input {
    height: 48px;
  }

  .promo__hint {
    color: $highlight-green0;
  }
}



