<div class="signup__layout">
  <form class="signup__form" [formGroup]="signUpForm" (submit)="onSubmit()">
    <mat-form-field
      class="signup__input"
      [ngClass]="{
        'signup__input--error': !login?.valid && login?.touched,
        hideTipWrapper: login?.valid || !login?.touched
      }"
    >
      <mat-label>Email</mat-label>
      <input
        matInput
        formControlName="login"
        [errorStateMatcher]="errorMatcher"
      />
      <mat-error *ngIf="login?.invalid">{{ getErrorMessageLogin() }}</mat-error>
    </mat-form-field>

    <!--  -->

    <mat-form-field
      class="signup__input"
      [ngClass]="{
        'signup__input--error': !password?.valid && password?.touched,
        hideTipWrapper: password?.valid || !password?.touched
      }"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        [errorStateMatcher]="errorMatcher"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        [matTooltip]="
          [
            'at least 8 characters',
            'a mixture of both uppercase and lowercase letters',
            'a mixture of letters and numbers',
            'inclusion of at least one special character, e.g., ! @ # ? ]'
          ] | tooltipList
        "
      >
        <mat-icon [color]="!password?.valid && password?.touched ? 'warn' : ''"
          >info</mat-icon
        >
      </button>
      <mat-error *ngIf="password?.invalid">{{
        getErrorMessagePassword()
      }}</mat-error>
    </mat-form-field>

    <!--  -->

    <mat-form-field
      class="signup__input"
      [ngClass]="{
        'signup__input--error': !firstName?.valid && firstName?.touched,
        hideTipWrapper: firstName?.valid || !firstName?.touched
      }"
    >
      <mat-label>First name</mat-label>
      <input
        matInput
        formControlName="firstName"
        [errorStateMatcher]="errorMatcher"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        matTooltip="Add name as it is written on their documents (passport or ID). Do not use any accents or special characters. Do not use a nickname."
      >
        <mat-icon
          [color]="!firstName?.valid && firstName?.touched ? 'warn' : ''"
          >info</mat-icon
        >
      </button>
      <mat-error *ngIf="firstName?.invalid">{{
        getErrorMessageFirstName()
      }}</mat-error>
    </mat-form-field>
    <mat-form-field
      class="signup__input"
      [ngClass]="{
        'signup__input--error': !lastName?.valid && lastName?.touched,
        hideTipWrapper: lastName?.valid || !lastName?.touched
      }"
    >
      <mat-label>Last name</mat-label>
      <input
        matInput
        formControlName="lastName"
        [errorStateMatcher]="errorMatcher"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        matTooltip="Add name as it is written on their documents (passport or ID). Do not use any accents or special characters. Do not use a nickname."
      >
        <mat-icon [color]="!lastName?.valid && lastName?.touched ? 'warn' : ''"
          >info</mat-icon
        >
      </button>
      <mat-error *ngIf="lastName?.invalid">{{
        getErrorMessageLastName()
      }}</mat-error>
    </mat-form-field>

    <!--  -->

    <mat-form-field
      class="signup__input"
      [ngClass]="{
        'signup__input--error': !dateBirthDay?.valid && dateBirthDay?.touched,
        hideTipWrapper: dateBirthDay?.valid || !dateBirthDay?.touched
      }"
    >
      <mat-label>Date of birth</mat-label>
      <input
        formControlName="dateBirthDay"
        matInput
        [matDatepicker]="picker"
        [max]="maxDate"
        [min]="minDate"
        [errorStateMatcher]="errorMatcher"
      />
      <mat-error *ngIf="dateBirthDay?.invalid">
        {{ getErrorMessageBirthday() }}
      </mat-error>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--  -->

    <mat-tab-group
      animationDuration="0ms"
      class="signup__tabs"
      (selectedTabChange)="selectedTabChangeGender($event)"
    >
      <mat-tab label="Male"
        ><ng-template mat-tab-label>
          <mat-icon>{{ gender === 'Male' ? 'done' : '' }}</mat-icon>
          Male
        </ng-template></mat-tab
      >
      <mat-tab label="Female"
        ><ng-template mat-tab-label>
          <mat-icon>{{ gender === 'Female' ? 'done' : '' }}</mat-icon>
          Female
        </ng-template></mat-tab
      >
    </mat-tab-group>

    <!--  -->

    <div class="signup__flex-container">
      <mat-form-field
        class="signup__input"
        [ngClass]="{
          'signup__input--error': !countryCode?.valid && countryCode?.touched,
          hideTipWrapper: countryCode?.valid || !countryCode?.touched
        }"
      >
        <mat-label>Country code</mat-label>
        <mat-select
          formControlName="countryCode"
          [errorStateMatcher]="errorMatcher"
        >
          <mat-option *ngFor="let item of countryCodes" [value]="item.code">{{
            item.name + ' (' + item.dial_code + ')'
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="countryCode?.invalid"
          >Please select a country code</mat-error
        >
      </mat-form-field>
      <mat-form-field
        class="signup__input"
        [ngClass]="{
          'signup__input--error': !phone?.valid && phone?.touched,
          hideTipWrapper: phone?.valid || !phone?.touched
        }"
      >
        <mat-label>Mobile phone number</mat-label>
        <input
          matInput
          formControlName="phone"
          type="number"
          [errorStateMatcher]="errorMatcher"
        />
        <mat-error *ngIf="phone?.invalid">{{
          getErrorMessagePhone()
        }}</mat-error>
      </mat-form-field>
    </div>

    <!--  -->

    <mat-form-field
      class="signup__input"
      [ngClass]="{
        'signup__input--error': !citizenship?.valid && citizenship?.touched,
        hideTipWrapper: citizenship?.valid || !citizenship?.touched
      }"
    >
      <mat-label>Citizenship</mat-label>
      <mat-select
        formControlName="citizenship"
        [errorStateMatcher]="errorMatcher"
      >
        <mat-option *ngFor="let item of citizenshipArray" [value]="item">{{
          item
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="citizenship?.invalid"
        >Please select a citizenship</mat-error
      >
    </mat-form-field>

    <!--  -->

    <div class="signup__checkbox-wrapper">
      <div class="signup__checkbox-field">
        <mat-checkbox color="primary" formControlName="agreement">
          I agree to Airway's Privacy Policy and Terms of Use</mat-checkbox
        >
      </div>
      <mat-error
        *ngIf="!agreement?.value && agreement?.touched"
        class="signup__checkbox-error"
        >Please confirm Airway's Privacy Policy and Terms of Use
      </mat-error>
    </div>

    <button class="signup__submit-btn" type="submit">Sign up</button>
  </form>
</div>
