<div class="notfound__container">
  <p class="notfound__text404" color="primary">404</p>
  <p class="notfound__text">Page Not Found</p>
  <div class="notfound__subtitle">
    <p class="notfound__subtitle_text">
      We're sorry, the page you requested could not be found
    </p>
    <p class="notfound__subtitle_text">Please go back to the homepage</p>
  </div>
  <button
    mat-flat-button
    color="primary"
    (click)="redirectToMain()"
    class="notfound__button"
  >
    GO HOME
  </button>
</div>
