<div [ngSwitch]="status" class="container">
  <ng-template ngSwitchCase="loading"><loader></loader></ng-template>
  <ng-template ngSwitchCase="error">
    <p>Something went wrong. Try later</p>
  </ng-template>
  <ng-template ngSwitchCase="success">
    <section class="flights">
      <flight
        *ngFor="let flight of flights; let i = index"
        [flight]="flight"
        [back]="!!i"
      ></flight>
      <div class="flight-selection__btns">
        <a mat-button routerLink="/booking" color="primary">Back</a>
        <a
          mat-flat-button
          routerLink="/booking/booking"
          color="primary"
          disabled
        >
          Continue
        </a>
      </div>
    </section>
  </ng-template>
</div>
