@use "src/styles.scss" as *;

.flight-type {
  display: flex;
  max-width: 300px;
  justify-content: space-between;
}

.flight-type__label {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: $primary;
  cursor: pointer;
}
