<footer class="footer">
  <div class="footer__container">
    <p class="copyright">© 2023, AIRWAY. All rights reserved.</p>
    <div class="payment">
      <p class="payment__text">We accept these payment methods</p>
      <div class="payment__icons">
        <img src="assets/mastercard.svg" alt="mastercard icon" />
        <img src="assets/amazonpay.svg" alt="mastercard icon" />
        <img src="assets/americanexpress.svg" alt="mastercard icon" />
        <img src="assets/visa.svg" alt="mastercard icon" />
      </div>
    </div>
  </div>
</footer>
