<app-page-swap></app-page-swap>
<footer class="footer">
  <div class="footer__container">
    <p class="copyright">© 2023, AIRWAY. All rights reserved.</p>
    <div class="payment">
      <p class="payment__text">We accept these payment methods</p>
      <div class="payment__icons">
        <img src="assets/footer/mastercard.svg" alt="mastercard icon" />
        <img src="assets/footer/amazonpay.svg" alt="mastercard icon" />
        <img src="assets/footer/americanexpress.svg" alt="mastercard icon" />
        <img src="assets/footer/visa.svg" alt="mastercard icon" />
      </div>
    </div>
  </div>
</footer>
