<mat-form-field
  appearance="fill"
  class="direction__input"
  [formGroup]="flightSearchForm"
>
  <mat-label>{{ label }}</mat-label>
  <input
    type="text"
    matInput
    formControlName="{{ controlName }}"
    [matAutocomplete]="auto"
    class="direction__text"
    size="{{ inputValue?.airport?.length || 10 }}"
  />
  <span class="direction__span">{{ inputValue?.cod }}</span>

  <mat-autocomplete #auto="matAutocomplete" class="direction__options">
    <mat-option
      *ngFor="let airport of filteredAirports | async"
      [value]="airport.airport"
    >
      <p class="direction__title">{{ airport.airport }} ({{ airport.cod }})</p>
      <span class="direction__subtitle">{{ airport.city }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
