@use "src/styles.scss" as *;

.direction__input {
  display: block;
  background: $secondary90;
}

.direction__text {
  display: block;
  width: max-content;
}

.direction__span {
  color: $neutral30;
}

.direction__input .mat-mdc-text-field-wrapper {
  border-radius: 4px;
  border: 0.5px solid rgba(116, 118, 122, 0.6);
}

.errorInput .mat-mdc-text-field-wrapper {
  border-color: red;
}

.direction__input .mat-mdc-form-field-infix {
  display: flex;
}

.direction__input .mdc-text-field--focused {
  border: 0.5px solid $primary;
}

.direction__input .mdc-line-ripple {
  display: none;
}

.direction__options.mat-mdc-autocomplete-panel {
  display: flex;
  max-width: 471px;
  flex-direction: column;
}

.direction__options.mat-mdc-autocomplete-panel::-webkit-scrollbar {
  width: 4px;
}

.direction__options.mat-mdc-autocomplete-panel::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 100px;
}

.direction__options .mat-mdc-option {
  padding: 5px 16px;
}

.direction__title {
  margin: 0 !important; //angular material class
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: $neutral0;
}

.direction__subtitle {
  font-size: 14px;
  line-height: 20px;
  color: $neutral30;
}

.direction__input .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
