<div class="orders__container">
  <div class="title__container">
    <p class="title">My Bookings</p>
  </div>

  <ng-container *ngIf="!tripCount; else tripTable">
    <mat-divider></mat-divider>
    <div class="empty-orders__container">
      <mat-divider></mat-divider>
      <p class="empty-orders__text">YOU DON'T HAVE ANY BOOKINGS</p>
      <button
        mat-flat-button
        color="primary"
        (click)="redirectToMain()"
        class="empty-orders__button"
      >
        Select trip
      </button>
    </div>
  </ng-container>

  <ng-template #tripTable>
    <table mat-table [dataSource]="dataSource" class="table" matSort>
      <!-- Number Column -->
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
        <td mat-cell *matCellDef="let element">
          {{ element.flight.oneWay.flightNumber }}<br />
          <ng-container
            *ngIf="
              element.flight.returnWay &&
              element.flight.oneWay.flightNumber !==
                element.flight.returnWay.flightNumber
            "
          >
            {{ element.flight.returnWay.flightNumber }}
          </ng-container>
        </td>
        <td mat-footer-cell *matFooterCellDef colspan="6">
          <button
            mat-flat-button
            class="new-trip__btn"
            (click)="redirectToMain()"
          >
            + Add new trip
          </button>
        </td>
      </ng-container>

      <!-- Flight Column -->
      <ng-container matColumnDef="flight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight</th>
        <td mat-cell *matCellDef="let element">
          {{ element.flight.oneWay.from.city }} -
          {{ element.flight.oneWay.to.city }}<br />
          <ng-container *ngIf="element.flight.returnWay">
            {{ element.flight.returnWay.from.city }} -
            {{ element.flight.returnWay.to.city }}
          </ng-container>
        </td>
      </ng-container>

      <!-- Type trip Column -->
      <ng-container matColumnDef="tripType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trip Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.flight.tripType }}
        </td>
      </ng-container>

      <!-- Data & Time Column -->
      <ng-container matColumnDef="dateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date & Time</th>
        <td mat-cell *matCellDef="let element">
          {{ element.flight.oneWay.takeoffDate | date : "d MMM, yyyy" }},
          {{ element.flight.oneWay.takeoffDate | date : "H:mm" }} -
          {{ element.flight.oneWay.landingDate | date : "H:mm" }}<br />
          <ng-container *ngIf="element.flight.returnWay">
            {{ element.flight.returnWay.takeoffDate | date : "d MMM, yyyy" }},
            {{ element.flight.returnWay.takeoffDate | date : "H:mm" }} -
            {{ element.flight.returnWay.landingDate | date : "H:mm" }}
          </ng-container>
        </td>
      </ng-container>

      <!-- Passengers Column -->
      <ng-container matColumnDef="passengers">
        <th mat-header-cell *matHeaderCellDef>Passengers</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let passenger of element.passengers">
            {{ passenger.count }} x {{ passenger.type }}<br />
          </ng-container>
        </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
        <td mat-cell *matCellDef="let element">
          <div class="table__cell-price">
            {{ currency }}{{ element.totalCost }}
            <!-- <button>details</button>
            <a mat-flat-button href="https://www.google.com/">Details</a> -->
            <button mat-flat-button color="primary" (click)="redirectToSummary()">Details</button>
            <!-- <button mat-stroked-button color="primary">Details</button> -->
            <!-- <a href="">details</a> -->
            <!-- <app-menu
              [element]="element"
              (editEvent)="handleEdit($event)"
              (deleteEvent)="handleDelete($event)"
            ></app-menu> -->
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="table__header"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="table__row"
      ></tr>
      <tr
        mat-footer-row
        *matFooterRowDef="['number']"
        class="table__footer"
      ></tr>
    </table>
  </ng-template>
</div>
